---
---
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://npmcdn.com/basscss@7.1.1/css/basscss.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="Brian Zelip">
    <meta name="keywords" content="">
    <style>
      body,
      .vh100 { min-height: 100vh; }
      .align-center { align-items: center; }
      .justify-center { justify-content: center; }
      .justify-between { justify-content: space-between; }
      .pt2 { padding-top: 1rem; }
      .pb3 { padding-bottom: 2rem; }
      .pr1 { padding-right: .5rem; }
    </style>
  </head>

  <body>

    <header>
      <div class="pt2">
        <div class="container">
          <div class="p2 bg-red flex align-center justify-between">
            <h1 class="m0 h3">{{ site.title }}</h1>
            <div>
              <a href="" class="btn">about</a>
              <button class="btn">submit</button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section>
      <ul>
        {% for post in site.posts %}
        <li>
          <div>
            <p>Post <em>{{ post.title }}</em> has the following tags:</p>
            <ul>
              {% for tag in post.tags %}
              <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      {% capture list %}

        {% for post in site.posts %}
          {% for tag in post.tags %}
            {{ tag | strip | split: " "}}
          {% endfor %}
        {% endfor %}

      {% endcapture %}
      {% assign tag_list = list %}
      <p class="red">{{ tag_list }} AND {{ list }}</p>
      <p>{{ tag_list | strip | replace: '<li>', '"' | replace: '</li>', '"' | replace: ' ', '+' }}</p>
    </section>

    <main>
      <div class="p2">
        <div class="container">
          {% for post in site.posts %}
          {% include entry.html %}
          {% endfor %}
        </div>
      </div>
    </main>

  </body>

</html>
