<div id="grid">
  <!-- it's the `remove: "'"` in the data-tags attribute below
  that throws the html validity color syntax off in Atom -->
  {% for item in site.data.zoteroItems %}
  {% if item.links.up == null  %}
  <article id="id-{{ item.key }}" class="mb3" data-tags="{% for tag in item.data.tags %}{{ tag.tag | downcase | remove: "’" |  remove: " " | remove: "'" | remove: "(" | remove: ")" | remove: "." | remove: "&" | remove: "-" | remove: "+" | remove: "[" | remove: "]" | remove: "," }}{% if tag != item.data.tags.last %}&nbsp;{% endif %}{% endfor %}">
    <div class="p2 border">
        <h1 class="h2 mt0"><a href="{{ item.data.url }}">{{ item.data.title }}</a></h1>
        <p>
          {% if item.data.creators[0].firstName != null and item.data.creators[0].firstName != "" %}by {{ item.data.creators[0].firstName }} {{ item.data.creators[0].lastName }} {% endif %}{% if item.data.date != null and item.data.date != "" %}on {{ item.data.date | date: "%b %d, %Y"  }} {% endif %}{% if item.data.publicationTitle != null and item.data.publicationTitle != "" %}in {{ item.data.publicationTitle }}{% endif %}
        </p>

        {% if item.data.abstractNote != "" %}
        <div>
          <p class="h3 mb1">Abstract</p>
          <p>{{ item.data.abstractNote }}</p>
        </div>
        {% endif %}
        <!--
        <p class="quote">{{ item.quote }}</p>
        <p class="comment">{{ item.comment }}</p>
        <p class="seeAlso">{{ item.seeAlso }}</p>
        -->
        <div>
          <ul class="list-reset inline">
            {% for tag in item.data.tags %}
            <li class="inline">
              <a href="" class="pr1 mb1 tag"> {{ tag.tag }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </article>
  {% endif %}
  {% endfor %}
</div>

<!--
    REFERENCES
    - https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_data_attributes
-->
